@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400&family=Work+Sans:wght@200;400;700&display=swap');


* {
  font-family: 'Bodoni Moda', serif;
  text-align: center; /*centra todo*/
  margin: 8px;
  padding: 0;
  outline: none;
}

.body{
    /* background-color:rgb(69, 76, 73); */
    background-color: rgb(130, 126, 126)
}
